/* Header
/* ---------------------------------------------------------- */

.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: $color-base;
    background-position: center;
    background-size: cover;
    position: relative;

    .container {
        z-index: 10;
        position: relative;
    }
}

.site-nav-item {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    opacity: 1;

    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }
}

.site-nav-icon {
    height: 15px;
    margin: -5px 0 0;
}

.site-logo {
    height: 25px;
}

.site-mast {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-mast-right {
    display: flex;
    align-items: center;

    .site-nav-item {
        &:last-child {
            padding-right: 0;
        }
    }
}

.site-banner {
    margin: 0 auto;
    padding: 7vw 0;
    text-align: left;

    h1 {
        border-bottom: 1px solid #fff;
        max-width: 200px;
    }

    * {
        max-width: 500px;
    }
}

.site-banner-title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4rem;
    line-height: 1.3em;
}

.site-banner-desc {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 2.4rem;
    line-height: 1.3em;
}

.site-banner-shadow {
    background-color: #00000070;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0 0;
}

.site-nav-left {
    margin: 0 20px 0 -10px;
}

.site-nav-button {
    display: inline-block;
    padding: 5px 10px;
    border: #fff 1px solid;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1em;
    border-radius: $radius;
    opacity: 1;

    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }
}
