/* Header
/* ---------------------------------------------------------- */

.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: $color-base;
    background-position: center;
    background-size: cover;
    position: relative;

    .container {
        z-index: 10;
        position: relative;
    }

    &.is-not-home {
        height: 90vh;

        .container {
            height: 100%;
        }

        .site-banner {
            max-width: 1120px;
            margin: auto auto;
            padding: 0 4vw;
            z-index: 3;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            * {
                text-align: center;
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
            }

            h1 {
                margin-bottom: 2rem;
            }
        }
    }
}

.site-nav-item {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    opacity: 1;

    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }
}

.site-nav-icon {
    height: 15px;
    margin: -5px 0 0;
}

.site-logo {
    height: 35px;
}

.site-mast {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 550px) {

        >div,
        >nav {
            display: none;
        }

        >div:first-of-type,
        >div:last-of-type {
            display: initial;
        }
    }

    @media (min-width: 550px) {
        >div:last-of-type {
            display: none;
        }
    }
}

.site-mast-right {
    display: flex;
    align-items: center;

    .site-nav-item {
        &:last-child {
            padding-right: 0;
        }
    }

    @media (max-width: 550px) {
        display: none;
    }
}

.site-banner {
    margin: 0 auto;
    padding: 7vw 0;
    text-align: left;

    h1 {
        border-bottom: 1px solid #fff;
        max-width: 200px;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }

    * {
        max-width: 500px;
    }
}

.site-banner-title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4rem;
    line-height: 1.3em;
}

.site-banner-desc {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 2.4rem;
    line-height: 1.3em;
}

.site-banner-shadow {
    background-color: #00000070;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.site-nav-left {
    margin: 0 20px;
}

.site-nav-button {
    display: inline-block;
    padding: 5px 10px;
    border: #fff 1px solid;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1em;
    border-radius: $radius;
    opacity: 1;

    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 30px;
    height: 25px;
    right: 25px;
    top: 5px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #fefefe;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
}

/* General sidebar styles */
.bm-menu {
    background: $color-base;
    padding: 1.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    display: flex;
    flex-direction: column;

    h1 {
        color: white;
        font-size: 2.5rem;
    }

    a {
        padding: 1rem 0;
    }

    .site-nav-button {
        align-self: flex-start;
        padding: 5px 10px;
        margin-top: 1rem;
    }
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100vw;
}


.bm-social-media-links a {
    padding: 0 1.5rem;
    margin: 2rem 0;
    border-right: 1px solid #fff;

    &:first-of-type {
        padding-left: 0;
    }

    &:last-of-type {
        border-right: none;
    }
}
